# Maven target directory
/target/

# Logs
*.log

# Eclipse specific files
.classpath
.project
.settings/

# IntelliJ IDEA specific files
*.iml
.idea/

# NetBeans specific files
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env

**/.gitignore


**/mvnw
**/mvnw.cmd
**/.mvn
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/target/
**/surefire-reports/
**/failsafe-reports/
**/generated-sources/
**/generated-test-sources/
**/junit-platform/

**/idea/
**/*.iml



